loguru
mkdocs
pip
python-dotenv
ruff
tqdm
typer

# tensorflow==2.21.0
# scikit-learn==1.7.2
# mlflow==3.16.1
# matplotlib==3.10.9
# codecarbon==3.3.1

dvc==3.67.1
dvc-s3==3.3.0
dvc-gdrive==3.0.1
PyDrive2==1.21.3
pyOpenSSL==24.2.1
cryptography==43.0.3
asyncssh==2.23.1
kagglehub==1.0.2
loguru==0.7.3
typer==0.27.2


-e .
